{% extends "bootstrap/base.html" %}

{% block head %}
    {{super()}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
{% endblock %}


{% block title %}Aion analytics{% endblock %}
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        {% block navbar %}
            <div class="navbar-collapse collapse navbar-inverse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}"><span><img height=50 src="{{ url_for('static', filename='images/favicon.ico') }}"></span></a></li>
                    <li><a href="{{ url_for('home') }}"><h4>Aion Analytics</h4></a></li>
                    {% if current_user.is_authenticated %}
                        <li><h5 style="color:palegreen;padding-top:17px;">welcomes {{ current_user.email }}!</h5></li>
                        <li><a href="{{ url_for('tree') }}"><h5 style="padding-left:40px;padding-top:3px">Show Churn tree</h5></a></li>
                    {% endif %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('security.logout') }}">Log Out</a></li>
                        <li><a href="{{ url_for('security.change_password') }}">Change password</a></li>

                    {% else %}
                        {% if security.registerable or security.recoverable or security.confirmable %}
                            <li><a href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Login') }}</a></li>
                            {% if security.registerable %}
                                <li><a href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">{{ _('Register') }}</a></li>
                            {% endif %}
                            {% if security.recoverable %}
                                <li><a href="{{ url_for_security('forgot_password') }}">{{ _('Forgot password') }}</a></li>
                            {% endif %}
                            {% if security.confirmable %}
                                <li><a href="{{ url_for_security('send_confirmation') }}">{{ _('Confirm account') }}</a></li>
                            {% endif %}
                    {% endif %}
                {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}
    </div>
<div class="container-fluid">
    <div class="body-div">
        {% block content %}
        {% endblock %}
    </div>
</div>
